{% extends basehtml %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ object.event }}{% endblock %}

{% block content %}
<div class="col-md-12">
</div>
<div class="container internal">


    {% if object.image %}
    <div class="intro-header" style="background-image: url({{ object.image.url }});">
    </div>
    {% endif %}

  <div class="row">
    <div class="col-sm-12">

    {% if object.event.logo %}
        <img src="{% thumbnail object.event.logo 100x100 %}" class="pull-left"/>
    {% endif %}
    {% if object.name %}
    <h1>{{ object.name }}</h1>
    {% endif %}
    <div class="clear"></div>
    {% if object.image %}
    {# <div class="thumbnail pull-right"><img src="{% thumbnail object.image 400x400 crop %}" /></div> #}
    {% endif %}
    <div class="contenido">  
        {{ object.text|safe }}
     </div>
  </div>
</div>


</div>
{% endblock content %}

