{% extends basehtml %}
{% load static %}
{% load thumbnail %}

{% block title %}Expositores{% endblock %}

{% block content %}
<div class="container internal">

<h1>{{ title }}</h1>
<div>
{% for object in object_list %}
    <div class="col-md-3 clearfix">
        <h3><a href="{% url 'app:event' object.slug %}">{{ object.name }}</a></h3>
        <div class="contenido clear">
            {% if object.image %}
                <a href="{% url 'app:event' object.slug %}"><img src="{% thumbnail object.image 250x250 %}" class="img-responsive"/></a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-5 clearfix">
        {{ object.text|safe }}
    </div>
    <div class='clearfix'></div>
    <div class="col-md-10"><hr class="separador"/></div>
{% empty %}
    <h2>No hay datos.</h2>
{% endfor %}
</div>

</div>
{% endblock content %}
