{% extends basehtml %}
{% load static %}
{% load thumbnail %}

{% block title %}Expositores{% endblock %}

{% block content %}
<div class="container internal">

    {% if event.image %}
    <div class="intro-header" style="background-image: url(/media/filer_public/d9/4d/d94da70f-c595-43d7-a2c3-acf6bc996b93/zona_cafetalera.jpg);"></div>
    {% endif %}

<h1>{{ title }}</h1>
<div>
{% for object in object_list %}
    <div class="col-md-3 clearfix">
        <h3>{{ object.name }}</h3>
        <div class="contenido clear">
            {% if object.photo %}
                <img src="{% thumbnail object.photo 250x250 %}" class="img-responsive"/>
            {% endif %}
        </div>
    </div>
    <div class="col-md-5 clearfix">
        {% if object.place %}<h3>{{ object.place }}{% endif %}</h3>
        {% if object.title %}<h3>{{ object.title }}{% endif %}</h3>
        <p>{{ object.text|linebreaks }}</p>
    </div>
    <div class='clearfix'></div>
    <div class="col-md-10"><hr class="separador"/></div>
{% empty %}
    <h2>No hay datos.</h2>
{% endfor %}
</div>

</div>
{% endblock content %}
