{% extends basehtml %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}{% trans "Speakers" %}{% endblock %}

{% block content %}
<div class="container internal">

<h1>{% trans "Speakers" %}</h1>
<div>
{% for object in object_list %}
    <div class="col-md-3 clearfix">
        <h3>{{ object.full_name }}</h3>
        <div class="contenido clear">
            {% if object.photo %}
                <img src="{% thumbnail object.photo 250x250 %}" class="img-responsive"/>
            {% endif %}
        </div>
    </div>
    <div class="col-md-5 clearfix">
        {{ object.text|safe }}
    </div>
    <div class='clearfix'></div>
    <div class="col-md-10"><hr class="separador"/></div>
{% empty %}
    <h2>No se han registrado expositores.</h2>
{% endfor %}
</div>

</div>
{% endblock content %}
