{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Request your spot now" %}{% endblock title %}

{% block content %}

<div class="container internal">
  <div class="row">
    <div class="col-md-5">
      <h1>{% trans "Request your spot now" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <p>{% blocktrans %}Please note that there is no cost to participate in the forum itself, other than travel, food and lodging expenses. Space is limited, so please request your spot by completing the information below. Once your request has been approved, you will receive an email confirming your spot. For further information, please email us at <a href="mailto:info@resilienciacafe.com">info@resilienciacafe.com</a>{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>


{% endblock content %}



