{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container internal">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.event }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
        <h3>{{ object.first_name }} {{ object.last_name }}</h3>
        <p>Actividades:</p>
        {% for row in object.activities.all %}
            {{ row.name }}
        {% endfor %}
        <p>{{ object.country.name }}</p>
        <div>
        {% if object.photo %}
            <img src="{% thumbnail object.photo 250x250 crop %}" />
        {% endif %}
        <a href="{% url 'users:badge' username=object.username %}">Gafete PNG</a>
        </div>
        <div>
        {% if object.event.logo %}
            <img src="{% thumbnail object.event.logo 100x100 crop %}" />
        {% endif %}
        </div>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

